.ball-y{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transition: all .4s cubic-bezier(.47,-0.45,1,.2);
    position: fixed;
    z-index: 2500;
}
.ball-x{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-size: 30px;
    line-height: 32px;
    text-align: center;
    color: #b2b2b2;
    transition: all .4s linear;
}
